<h1><%= @customer.name %></h1>
<%= image_tag(@customer.image_text, alt: @customer.name %>
<strong>Phone: </strong> <%= @customer.phone_number %>
<strong>Email: </strong> <%= mail_to(@customer.email) %>
<strong>Notes: </strong> <%= customer.notes %>
